<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        function redirectToNewPost() {
          window.location.href = "/new_post";
        }
        function redirectToLogOut() {
          window.location.href = "/";
        }
        function redirectToPost(postId) {
          var url = '/view_post/' + postId;
          window.location.href = url;
        }

        document.getElementById('square').addEventListener('click', function() {
        document.getElementById('post_photo').click();
      });

          function loadPreview(event) {
            var input = event.target;
            if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function (e) {
                var preview = document.getElementById('square');
                preview.style.backgroundImage = "url('" + e.target.result + "')";
                preview.style.backgroundSize = "cover";
                preview.querySelector('p').style.display = "none";
              }
              reader.readAsDataURL(input.files[0]);
            }
          }
    </script>
</head>
<body>
<header>
    <div class="grid-header">
        <a class="profile-link"><img src="{{ url_for('static', filename='images/profile/' + user.profile_img) }}" class="image_profile"></a>
        <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" class="logo"></a>
    </div>
</header>

    <div id="dvPostsList" class="dvPostsList">
                {% for usr in users %}
                    {% for post in posts %}
                        {% if post._img is defined and post._title is defined and usr._user_id == post._user_id %}
                            <div id="dvHomePost" onclick="redirectToPost('{{ post.post_id }}')">
                                {% if usr._user_id == post._user_id %}
                                    <img src="{{ url_for('static', filename='images/profile/' + usr.profile_img) }}" class="image_profile">
                                    <span style="color:white;font-family: Verdana, sans-serif; padding-start:20px;">{{ usr.nickname }}</span>
                                    <img src="{{ url_for('static', filename='images/posts/' + post.img) }}" class="img_post">
                                    <div class="asignatura-box">
                                        <span class="asignatura-text">Asignatura</span>
                                    </div>
                                    <p>{{ post.title }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
    </div>

    <button id="btnLogout" class="up" onclick="redirectToLogOut()">Log Out</button>

    <div class="opcion">
        <a href="#new_post">
            <button id="btnNewPost" class="btn_new_post">+</button>
        </a>
    </div>

    <div id="new_post" class="modal">
        <div class="ventana">
            <a href="#" ><img src="{{ url_for('static', filename='img/close.png') }}"></a>

            <span>Nova publicación</span>

            <form method="POST" enctype="multipart/form-data" action="/home" class="formulario">
                <div id="square" class="square" onclick="document.getElementById('post_photo').click();">
                    <p>Elixe unha foto</p>
                </div>
                <input type="file" name="post_photo" id="post_photo" accept="image/*" onchange="loadPreview(event)" style="display:none">
                <br>
                <label for="post_title">PÉ DE FOTO</label>
                <input type="text" name="post_title" id="post_title">
                <br>
                <input type="submit" value="Subir">
            </form>

        </div>

    </div>




</body>
</html>