<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartStudy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/js" href="{{ url_for('static', filename='js/script.js') }}">
</head>
<body>
    <header>
        <div style="text-align: center; margin-bottom: 40px;">
            <a href="icono.html"><img src="{{ url_for('static', filename='img/logo.png') }}" style=" height:150px;"></a>
        </div>
    </header>
    <div id="dvIndex" class="dvIndex">
        <div class="dvIndexText">
            <span>Unha nova forma de estudar.</span>
        </div>
        <div id="dvIndexAuth" class="dvIndexAuth">
            <div id="dvIndexLogin" class="dvIndexLogin">
                <form  method="POST" action="/login">
                    <div  class="form">
                        <input id= "user_li" type="text" name="user_li" autocomplete="off" required />
                        <label for="user_li" class="label-name">
                            <span class="content-name">NOME DE USUARIO</span>
                        </label>
                    </div>
                    <div class="form">
                        <input id= "user_li_password" type="text" name="user_li_password" autocomplete="off" required />
                        <label for="user_li_password" class="label-name">
                            <span class="content-name">CONTRASEÑA</span>
                        </label>
                    </div>
                    <button id="btnLogIn" class="up" onclick="redirectToLogIn()">Log In</button>
                </form>
                <div>
                  <p style="display: inline;">Aínda non tes conta? </p>
                  <a id="btnSignIn" class="up" href="/sign_in" style="display: inline; color: white; font-weight:bold;">Faina aquí</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>