<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Subir foto</title>
  </head>
  <body>
    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="post_photo" id="post_photo" accept="image/*" onchange="loadPreview(event)">
      <br>

      <img id="preview" src="" alt="Vista preliminar de la imagen seleccionada" width="300" height="300">
      <br>
      <input type="submit" value="Subir">

    </form>

    <script>
      function loadPreview(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            var preview = document.getElementById('preview');
            preview.src = e.target.result;
          }
          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>
  </body>
</html>
