<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{%endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-YT7Dq4USpxCnMJK0ApmcYx0M02pYbQVpg5Jq+jzwwS/TkO5ft7RcKjZR3w20ENBqoZs/s9VM/A8SWUSndvHw4A==" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/a7975bb60f.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="grid-header">
            <div class="edit_profile"><a href="#"><img src="{{ url_for('static', filename='images/profile/' + user.profile_img) }}" class="image_profile"></a></div>
            <a href="/home"><img src="{{ url_for('static', filename='img/logo.png') }}" class="logo"></a>
            <a href="buscar.html"><img src="{{ url_for('static', filename='img/search.png') }}" class="search-btn"></a>
            <a href="opciones.html"><img src="{{ url_for('static', filename='img/more.png') }}" class="more"></a>
        </div>
    </header>
    <div class="sidebar">
        <input type="text" name="user_name" placeholder="  Ex: Alicia" required>
        <input type="text" name="user_surname" placeholder="  Ex: Rodríguez Rodríguez" required>
        <input type="text" name="user_nickname" placeholder="  Ex: aliciarodriguez123" required>
        <input type="date" name="user_birthday" required>
        <input type="text" name="user_phonenumber" required>
        <input type="email" name="user_email" placeholder="  Ex: alicia@email.com" required>
        <input type="password" name="user_password" required>
        <button id="btnCancel">CANCELAR</button>
        <button id="btnChange">FEITO</button>
    </div>

    {% block content %}{% endblock %}

</body>
