<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{%endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-YT7Dq4USpxCnMJK0ApmcYx0M02pYbQVpg5Jq+jzwwS/TkO5ft7RcKjZR3w20ENBqoZs/s9VM/A8SWUSndvHw4A==" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/a7975bb60f.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="grid-header">
            <div class="edit_profile"><a href="#"><img src="{{ url_for('static', filename='images/profile/' + user.profile_img) }}" class="image_profile"></a></div>
            <a href="/home"><img src="{{ url_for('static', filename='img/logo.png') }}" class="logo"></a>
        </div>
    </header>

    {% block content %}{% endblock %}

</body>
