{% extends 'template.html' %}
{% block title %}View post{%endblock %}

{% block content %}
    <div id="dvViewPost">
        <div id="dvPost">
            <img src="{{ url_for('static', filename='images/posts/' + post.img) }}" class="img_post">
            <p>{{ post.title }}</p>
            <p>{{ post.time }}</p>
        </div>
        <div id="dvComments">
            <div id="dvNewComment" class="bar">
                <div class="section photo">
                    <img src="{{ url_for('static', filename='images/profile/' + user.profile_img) }}" width="100%">
                </div>
                <div class="section text">
                    <form class="inputComment" action="/view_post/{{ post.post_id }}" method="POST">
                      <input type="text" name="commentText" placeholder="Escribe un comentario...">
                      <button type="submit" id="CommentButton">
                        <img src="{{ url_for('static', filename='img/send_comment.png') }}" style="width: 20px; height: 20px;">
                      </button>
                    </form>
                </div>
            </div>
            <div id="dvCommentsList">
                {% for usr in users %}
                    {% for comment in comments %}
                        {% if usr._user_id == comment._user_id %}
                            <div class="bar">
                                <img src="{{ url_for('static', filename='images/profile/' + usr.profile_img) }}" class="image_profile">
                                <span class="inputComment">{{ comment.comment }}</span>
                                {% if user._user_id != comment._user_id %}
                                    <button id="likeButton" onclick="changeIcon()">
                                        <i id="likeIcon" class="fa-regular fa-thumbs-up fa-lg" style="color: #000000;"></i>
                                    </button>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}